.container{
  margin-left: auto;
  margin-right: auto ;
  max-width: 1280px;
  padding-left: $base--spacing;
  padding-right: $base--spacing;
}

.vhidden {
  position: absolute;
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: 0;
  border: 0;
}

.content-primary{
  @include width-min($mq--mobile--landscape) {
    @include inline-layout(65%);
    @include rem("padding-right", 10);
  };
}

.content-secondary{
  @include inline-layout(35%);
  @include rem("padding-left", 10);
  text-align: center;
  display: none;
  @include width-min($mq--mobile--landscape) {
    display: inline-block;
  }
}
